In [ ]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import os

In [ ]:
diretorio = 'base-original'
arquivo_zip = 'pibic-dados.zip'
caminho_zip = os.path.join(diretorio, arquivo_zip)
nome_arquivo = 'pibic-dados.csv'

with ZipFile(caminho_zip, 'r') as zip_file:
    pibic_dados = pd.read_csv(zip_file.open(nome_arquivo), 
                                            sep=';', 
                                            encoding='utf8', 
                                            low_memory=False)

print(pibic_dados)

In [ ]:
colunas = list(pibic_dados.columns)
print(colunas)

In [ ]:
pibic_filtrado = pibic_dados.loc[:, ['CO_CURSO', 'CO_GRUPO', 'CO_REGIAO_CURSO', 'NT_GER', 
                                     'QE_I04', 'QE_I05', 'QE_I08', 'QE_I17', 'QE_I23']]
print(pibic_filtrado)

In [ ]:
pibic_filtrado.to_csv('resultados-filtrados/pibic_filtrado.csv', index=False)

In [ ]:
pibic_filtrado.rename(columns={
    'CO_CURSO': 'Cod_curso',
    'CO_GRUPO': 'Cod_grupo_curso',
    'CO_REGIAO_CURSO': 'Cod_regiao_curso',
    'NT_GER': 'Nota_geral',
    'QE_I04': 'Escolaridade_pai',
    'QE_I05': 'Escolaridade_mae',
    'QE_I08': 'Renda',
    'QE_I17': 'Tipo_escola',
    'QE_I23': 'Horas_estudos'
}, inplace=True)

print(pibic_filtrado)

In [16]:
#filtro para análise referentes a região norte e ao grupo de curso de ciência da computação (bacharel)
regiao_norte = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 4004) & (pibic_filtrado['Cod_regiao_curso'] == 1)]
ciencia_computacao_norte = pd.DataFrame(regiao_norte)

ciencia_computacao_norte.to_csv('regiao-norte/ciencia-computacao/regiao-norte-cc.csv', index=False)

print(ciencia_computacao_norte)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
55274       12025             4004                 1        NaN
55275       12025             4004                 1       48,6
55276       12025             4004                 1       63,2
55277       12025             4004                 1       51,1
55278       12025             4004                 1        NaN
...           ...              ...               ...        ...
535797      73438             4004                 1        NaN
535798      73438             4004                 1        NaN
535799      73438             4004                 1        NaN
535800      73438             4004                 1        NaN
535801      73438             4004                 1        NaN

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
55274                 D                B     A           A             B
55275                 C                D     A           A             C
55276                 E                E     D           B             C
55277                 C                D     B           B             B
55278               NaN              NaN   NaN         NaN           NaN
...                 ...              ...   ...         ...           ...
535797                B                C     B           A             C
535798                D                D     C           E             C
535799                D                D     D           A             B
535800                E                F     A           A             B
535801                A                B     A           A             C

[626 rows x 9 columns]

In [20]:
regiao_nordeste = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 4004) & (pibic_filtrado['Cod_regiao_curso'] == 2)]
ciencia_computacao_nordeste = pd.DataFrame(regiao_nordeste)

ciencia_computacao_nordeste.to_csv('regiao-nordeste/ciencia-computacao/regiao-nordeste-cc.csv', index=False)

print(ciencia_computacao_nordeste)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
1995          317             4004                 2       34,4
1996          317             4004                 2       39,4
1997          317             4004                 2         50
1998          317             4004                 2        NaN
1999          317             4004                 2       45,3
...           ...              ...               ...        ...
537226    1265453             4004                 2        NaN
537227    1265453             4004                 2        NaN
537228    1265453             4004                 2        NaN
537229    1265453             4004                 2        NaN
537230    1265453             4004                 2        NaN

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
1995                  E                E     F           B             B
1996                  E                E     A           B             E
1997                  E                D     D           A             D
1998                NaN              NaN   NaN         NaN           NaN
1999                  D                D     C           B             D
...                 ...              ...   ...         ...           ...
537226              NaN              NaN   NaN         NaN           NaN
537227              NaN              NaN   NaN         NaN           NaN
537228              NaN              NaN   NaN         NaN           NaN
537229              NaN              NaN   NaN         NaN           NaN
537230                D                D     A           A             B

[1911 rows x 9 columns]

In [21]:
regiao_sudeste = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 4004) & (pibic_filtrado['Cod_regiao_curso'] == 3)]
ciencia_computacao_sudeste = pd.DataFrame(regiao_sudeste)

ciencia_computacao_sudeste.to_csv('regiao-sudeste/ciencia-computacao/regiao-sudeste-cc.csv', index=False)

print(ciencia_computacao_sudeste)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
3892          594             4004                 3       42,8
3893          594             4004                 3       57,2
3894          594             4004                 3       40,3
3895          594             4004                 3       62,5
3896          594             4004                 3       46,1
...           ...              ...               ...        ...
532105    5000356             4004                 3       52,7
532106    5000356             4004                 3       44,1
532107    5000356             4004                 3       54,8
536049     104836             4004                 3        NaN
536050     104836             4004                 3        NaN

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
3892                  F                C     B           A             C
3893                  F                E     C           B             E
3894                  B                B     B           A             E
3895                  D                D     B           B             E
3896                  E                D     F           B             C
...                 ...              ...   ...         ...           ...
532105                C                E     E           B             D
532106                E                D     E           A             B
532107                D                D     C           B             D
536049                C                F     E           B             B
536050              NaN              NaN   NaN         NaN           NaN

[5031 rows x 9 columns]

In [22]:
regiao_sul = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 4004) & (pibic_filtrado['Cod_regiao_curso'] == 4)]
ciencia_computacao_sul = pd.DataFrame(regiao_sul)

ciencia_computacao_sul.to_csv('regiao-sul/ciencia-computacao/regiao-sul-cc.csv', index=False)

print(ciencia_computacao_sul)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
5573          778             4004                 4       45,6
5574          778             4004                 4       41,9
5575          778             4004                 4         25
5576          778             4004                 4       57,8
5577          778             4004                 4       58,6
...           ...              ...               ...        ...
532425    5000385             4004                 4       39,1
532426    5000385             4004                 4       53,5
532427    5000385             4004                 4       38,9
532428    5000385             4004                 4       50,8
532429    5000385             4004                 4       64,6

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
5573                  D                F     E           A             B
5574                  C                E     D           A             E
5575                  D                C     D           B             C
5576                  E                F     D           B             B
5577                  E                E     C           A             B
...                 ...              ...   ...         ...           ...
532425                D                E     C           A             C
532426                F                D     B           A             D
532427                B                D     B           A             E
532428                D                C     B           A             C
532429                B                D     C           A             B

[1857 rows x 9 columns]

In [23]:
regiao_centro_oeste = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 4004) & (pibic_filtrado['Cod_regiao_curso'] == 5)]
ciencia_computacao_centro_oeste = pd.DataFrame(regiao_centro_oeste)

ciencia_computacao_centro_oeste.to_csv('regiao-centro-oeste/ciencia-computacao/regiao-centro-oeste-cc.csv', index=False)

print(ciencia_computacao_centro_oeste)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
383            36             4004                 5       58,7
384            36             4004                 5       49,8
385            36             4004                 5        NaN
386            36             4004                 5       40,1
387            36             4004                 5       53,2
...           ...              ...               ...        ...
515006    1280431             4004                 5       44,3
515007    1280431             4004                 5       79,2
515008    1280431             4004                 5       46,2
515009    1280431             4004                 5       47,5
515010    1280431             4004                 5       49,6

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
383                   D                F     E           A             E
384                   D                C     C           A             C
385                 NaN              NaN   NaN         NaN           NaN
386                   D                D     C           A             C
387                   B                B     B           A             C
...                 ...              ...   ...         ...           ...
515006                C                D     C           A             B
515007                B                B     E           A             C
515008                D                D     C           A             C
515009                D                B     B           A             C
515010                D                F     F           B             B

[761 rows x 9 columns]

In [24]:
#filtro para análise referentes a região norte e ao grupo de curso de matemática (licenciatura)
regiao_norte = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 702) & (pibic_filtrado['Cod_regiao_curso'] == 1)]
matematica_norte = pd.DataFrame(regiao_norte)

matematica_norte.to_csv('regiao-norte/matematica/regiao-norte-mat.csv', index=False)

print(matematica_norte)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
2221          379              702                 1       43,7
2222          379              702                 1        NaN
2223          379              702                 1       51,4
2224          379              702                 1       52,6
2225          379              702                 1        NaN
...           ...              ...               ...        ...
537137    1185309              702                 1        NaN
537138    1185309              702                 1        NaN
537139    1185309              702                 1        NaN
537140    1185309              702                 1        NaN
537141    1185309              702                 1        NaN

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
2221                  D                C     C           A             D
2222                NaN              NaN   NaN         NaN           NaN
2223                  C                D     A           A             C
2224                  D                D     A           A             C
2225                NaN              NaN   NaN         NaN           NaN
...                 ...              ...   ...         ...           ...
537137              NaN              NaN   NaN         NaN           NaN
537138              NaN              NaN   NaN         NaN           NaN
537139              NaN              NaN   NaN         NaN           NaN
537140              NaN              NaN   NaN         NaN           NaN
537141              NaN              NaN   NaN         NaN           NaN

[1643 rows x 9 columns]

In [25]:
regiao_nordeste = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 702) & (pibic_filtrado['Cod_regiao_curso'] == 2)]
matematica_nordeste = pd.DataFrame(regiao_nordeste)

matematica_nordeste.to_csv('regiao-nordeste/matematica/regiao-nordeste-mat.csv', index=False)

print(matematica_nordeste)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
1750          297              702                 2       31,4
1751          297              702                 2       36,8
1752          297              702                 2       44,7
1753          297              702                 2        NaN
1754          297              702                 2       39,1
...           ...              ...               ...        ...
535631      58526              702                 2        NaN
535632      58526              702                 2        NaN
535633      58526              702                 2        NaN
535634      58526              702                 2        NaN
537001    1111510              702                 2        NaN

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
1750                  B                D     A           A             C
1751                  C                F     B           A             C
1752                  C                B     A           A             C
1753                NaN              NaN   NaN         NaN           NaN
1754                  D                C     A           A             D
...                 ...              ...   ...         ...           ...
535631              NaN              NaN   NaN         NaN           NaN
535632              NaN              NaN   NaN         NaN           NaN
535633              NaN              NaN   NaN         NaN           NaN
535634              NaN              NaN   NaN         NaN           NaN
537001                C                D     A           A             E

[3862 rows x 9 columns]

In [26]:
regiao_sudeste = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 702) & (pibic_filtrado['Cod_regiao_curso'] == 3)]
matematica_sudeste = pd.DataFrame(regiao_sudeste)

matematica_sudeste.to_csv('regiao-sudeste/matematica/regiao-sudeste-mat.csv', index=False)

print(matematica_sudeste)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
4357          624              702                 3        NaN
4358          624              702                 3       23,6
4359          624              702                 3         51
4360          624              702                 3       60,3
4361          624              702                 3       51,6
...           ...              ...               ...        ...
535935      89886              702                 3        NaN
535936      89886              702                 3        NaN
536058     105058              702                 3        NaN
537071    1166014              702                 3        NaN
537072    1166014              702                 3        NaN

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
4357                  E                E     E           A             B
4358                  D                D     A           A             C
4359                  D                D     B           B             D
4360                  D                B     C           A             D
4361                  C                D     B           B             B
...                 ...              ...   ...         ...           ...
535935              NaN              NaN   NaN         NaN           NaN
535936              NaN              NaN   NaN         NaN           NaN
536058              NaN              NaN   NaN         NaN           NaN
537071              NaN              NaN   NaN         NaN           NaN
537072              NaN              NaN   NaN         NaN           NaN

[4638 rows x 9 columns]

In [27]:
regiao_sul = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 702) & (pibic_filtrado['Cod_regiao_curso'] == 4)]
matematica_sul = pd.DataFrame(regiao_sul)

matematica_sul.to_csv('regiao-sul/matematica/regiao-sul-mat.csv', index=False)

print(matematica_sul)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
5218          768              702                 4       31,8
5219          768              702                 4       49,1
5220          768              702                 4       35,1
5221          768              702                 4       27,7
5222          768              702                 4       41,6
...           ...              ...               ...        ...
534923       1766              702                 4        NaN
534924       1766              702                 4        NaN
534925       1766              702                 4        NaN
535131      22317              702                 4        NaN
535132      22317              702                 4        NaN

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
5218                  A                B     B           A             B
5219                  D                B     C           A             B
5220                  B                C     E           A             B
5221                  C                D     B           A             C
5222                  B                D     C           A             B
...                 ...              ...   ...         ...           ...
534923              NaN              NaN   NaN         NaN           NaN
534924              NaN              NaN   NaN         NaN           NaN
534925                B                C     B           A             A
535131              NaN              NaN   NaN         NaN           NaN
535132              NaN              NaN   NaN         NaN           NaN

[2303 rows x 9 columns]

In [28]:
regiao_centro_oeste = pibic_filtrado.loc[(pibic_filtrado['Cod_grupo_curso'] == 702) & (pibic_filtrado['Cod_regiao_curso'] == 5)]
matematica_centro_oeste = pd.DataFrame(regiao_centro_oeste)

matematica_centro_oeste.to_csv('regiao-centro-oeste/matematica/regiao-centro-oeste-mat.csv', index=False)

print(matematica_centro_oeste)

        Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
310            26              702                 5       18,9
311            26              702                 5       31,6
312            26              702                 5       35,3
313            26              702                 5       32,9
314            26              702                 5       27,8
...           ...              ...               ...        ...
528166    1404185              702                 5       20,3
528167    1404185              702                 5       42,2
528168    1404185              702                 5       24,7
528169    1404185              702                 5        NaN
535860      82245              702                 5        NaN

       Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
310                   D                D     C           A             B
311                   E                E     E           A             B
312                   D                E     B           A             D
313                   E                D     E           B             B
314                   A                D     B           B             B
...                 ...              ...   ...         ...           ...
528166                A                A     D           A             B
528167                B                B     B           A             C
528168                C                C     C           A             B
528169              NaN              NaN   NaN         NaN           NaN
535860              NaN              NaN   NaN         NaN           NaN

[964 rows x 9 columns]