In [16]:
import pandas as pd 
import numpy as np 
import matplotlib as plt

In [17]:
regiao_sul_cc = pd.read_csv('regiao-sul-cc.csv', sep=',')

print(regiao_sul_cc)

      Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral  \
0           778             4004                 4       45,6
1           778             4004                 4       41,9
2           778             4004                 4         25
3           778             4004                 4       57,8
4           778             4004                 4       58,6
...         ...              ...               ...        ...
1852    5000385             4004                 4       39,1
1853    5000385             4004                 4       53,5
1854    5000385             4004                 4       38,9
1855    5000385             4004                 4       50,8
1856    5000385             4004                 4       64,6

     Escolaridade_pai Escolaridade_mae Renda Tipo_escola Horas_estudos
0                   D                F     E           A             B
1                   C                E     D           A             E
2                   D                C     D           B             C
3                   E                F     D           B             B
4                   E                E     C           A             B
...               ...              ...   ...         ...           ...
1852                D                E     C           A             C
1853                F                D     B           A             D
1854                B                D     B           A             E
1855                D                C     B           A             C
1856                B                D     C           A             B

[1857 rows x 9 columns]

In [27]:
valores_nulos = regiao_sul_cc.isnull()
contagem = valores_nulos.sum()

print(contagem)

Cod_curso           0
Cod_grupo_curso     0
Cod_regiao_curso    0
Nota_geral          0
Escolaridade_pai    0
Escolaridade_mae    0
Renda               0
Tipo_escola         0
Horas_estudos       0
dtype: int64

In [26]:
regiao_sul_cc.dropna(inplace=True)

In [20]:
regiao_sul_cc['Nota_geral'] = pd.to_numeric(regiao_sul_cc['Nota_geral'], errors='coerce')

def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Escolaridade_pai')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_sul_cc)
print(media_nota_geral_por_resposta)

Escolaridade_pai
A    33.500000
B    44.285714
C    38.437500
D    46.672131
E    46.529412
F    54.941176
Name: Nota_geral, dtype: float64

In [21]:
def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Escolaridade_mae')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_sul_cc)
print(media_nota_geral_por_resposta)

Escolaridade_mae
A    51.500000
B    40.576923
C    41.884615
D    45.921875
E    51.080000
F    46.958333
Name: Nota_geral, dtype: float64

In [22]:
def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Renda')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_sul_cc)
print(media_nota_geral_por_resposta)

Renda
A    37.700000
B    41.432432
C    42.500000
D    43.640000
E    52.843750
F    54.000000
G    62.333333
Name: Nota_geral, dtype: float64

In [23]:
def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Tipo_escola')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_sul_cc)
print(media_nota_geral_por_resposta)

Tipo_escola
A    44.452830
B    47.117647
C    41.000000
D    35.333333
E    54.666667
F          NaN
Name: Nota_geral, dtype: float64

In [24]:
def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Horas_estudos')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_sul_cc)
print(media_nota_geral_por_resposta)

Horas_estudos
A    40.454545
B    46.523810
C    42.576923
D    46.772727
E    51.105263
Name: Nota_geral, dtype: float64