In [127]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [128]:
regiao_norte_cc = pd.read_csv('regiao-norte-cc.csv', sep=',')

print(regiao_norte_cc)

     Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral Escolaridade_pai  \
0        12025             4004                 1        NaN                D
1        12025             4004                 1       48,6                C
2        12025             4004                 1       63,2                E
3        12025             4004                 1       51,1                C
4        12025             4004                 1        NaN              NaN
..         ...              ...               ...        ...              ...
621      73438             4004                 1        NaN                B
622      73438             4004                 1        NaN                D
623      73438             4004                 1        NaN                D
624      73438             4004                 1        NaN                E
625      73438             4004                 1        NaN                A

    Escolaridade_mae Renda Tipo_escola Horas_estudos
0                  B     A           A             B
1                  D     A           A             C
2                  E     D           B             C
3                  D     B           B             B
4                NaN   NaN         NaN           NaN
..               ...   ...         ...           ...
621                C     B           A             C
622                D     C           E             C
623                D     D           A             B
624                F     A           A             B
625                B     A           A             C

[626 rows x 9 columns]

In [129]:
valores_nulos = regiao_norte_cc.isnull()
contagem = valores_nulos.sum()

print(contagem)

Cod_curso             0
Cod_grupo_curso       0
Cod_regiao_curso      0
Nota_geral          211
Escolaridade_pai    149
Escolaridade_mae    149
Renda               149
Tipo_escola         149
Horas_estudos       149
dtype: int64

In [130]:
regiao_norte_cc.dropna(inplace=True)

In [143]:
escolaridade_pai = regiao_norte_cc['Escolaridade_pai'].value_counts()

print(escolaridade_pai)

Escolaridade_pai
D    163
E     82
B     69
C     51
F     29
A     19
Name: count, dtype: int64

In [24]:
regiao_norte_cc['Nota_geral'] = pd.to_numeric(regiao_norte_cc['Nota_geral'], errors='coerce')

def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Escolaridade_pai')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_norte_cc)
print(media_nota_geral_por_resposta)

Escolaridade_pai
A    35.500000
B    29.166667
C    38.000000
D    39.600000
E    40.916667
F    59.500000
Name: Nota_geral, dtype: float64

In [144]:
escolaridade_mae = regiao_norte_cc['Escolaridade_mae'].value_counts()

print(escolaridade_mae)

Escolaridade_mae
D    178
E     83
C     58
F     47
B     42
A      5
Name: count, dtype: int64

In [151]:
def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Escolaridade_mae')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_norte_cc)
print(media_nota_geral_por_resposta)

Escolaridade_mae
A          NaN
B    38.200000
C    34.444444
D    36.714286
E    36.000000
F    49.166667
Name: Nota_geral, dtype: float64

In [145]:
renda = regiao_norte_cc['Renda'].value_counts()

print(renda)

Renda
A    115
B    108
C     76
E     48
D     42
F     18
G      6
Name: count, dtype: int64

In [152]:
def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Renda')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_norte_cc)
print(media_nota_geral_por_resposta)

Renda
A    33.466667
B    31.916667
C    41.000000
D    47.000000
E    42.142857
F    49.333333
G          NaN
Name: Nota_geral, dtype: float64

In [146]:
tipo_escola = regiao_norte_cc['Tipo_escola'].value_counts()

print(tipo_escola)

Tipo_escola
A    274
B    108
E     17
D     14
Name: count, dtype: int64

In [153]:
def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Tipo_escola')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_norte_cc)
print(media_nota_geral_por_resposta)

Tipo_escola
A    35.121212
B    46.333333
D    51.500000
E    24.333333
Name: Nota_geral, dtype: float64

In [147]:
horas_estudos = regiao_norte_cc['Horas_estudos'].value_counts()

print(horas_estudos)

Horas_estudos
B    163
C    128
E     50
D     49
A     23
Name: count, dtype: int64

In [154]:
def calcular_media_nota_geral_por_resposta(dataframe):
    media_por_resposta = dataframe.groupby('Horas_estudos')['Nota_geral'].mean()
    
    return media_por_resposta

media_nota_geral_por_resposta = calcular_media_nota_geral_por_resposta(regiao_norte_cc)
print(media_nota_geral_por_resposta)

Horas_estudos
A    25.666667
B    37.666667
C    40.055556
D    41.666667
E    33.000000
Name: Nota_geral, dtype: float64