In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [14]:
regiao_norte_cc = pd.read_csv('regiao-norte-cc.csv', sep=',')

print(regiao_norte_cc)

     Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral Escolaridade_pai  \
0        12025             4004                 1        NaN                D
1        12025             4004                 1       48,6                C
2        12025             4004                 1       63,2                E
3        12025             4004                 1       51,1                C
4        12025             4004                 1        NaN              NaN
..         ...              ...               ...        ...              ...
621      73438             4004                 1        NaN                B
622      73438             4004                 1        NaN                D
623      73438             4004                 1        NaN                D
624      73438             4004                 1        NaN                E
625      73438             4004                 1        NaN                A

    Escolaridade_mae Renda Tipo_escola Horas_estudos
0                  B     A           A             B
1                  D     A           A             C
2                  E     D           B             C
3                  D     B           B             B
4                NaN   NaN         NaN           NaN
..               ...   ...         ...           ...
621                C     B           A             C
622                D     C           E             C
623                D     D           A             B
624                F     A           A             B
625                B     A           A             C

[626 rows x 9 columns]

In [6]:
valores_nulos = regiao_norte_cc.isnull()
contagem = valores_nulos.sum()

print(contagem)

Cod_curso             0
Cod_grupo_curso       0
Cod_regiao_curso      0
Nota_geral          211
Escolaridade_pai    149
Escolaridade_mae    149
Renda               149
Tipo_escola         149
Horas_estudos       149
dtype: int64

In [ ]:
regiao_norte_cc.dropna(inplace=True)

In [ ]:
escolaridade_pai = regiao_norte_cc['Escolaridade_pai'].value_counts()

print(escolaridade_pai)

Escolaridade_pai
D    163
E     82
B     69
C     51
F     29
A     19
Name: count, dtype: int64

In [ ]:
pai_sem_escolaridade = regiao_norte_cc[regiao_norte_cc['Escolaridade_pai'] == 'A']

print(pai_sem_escolaridade)

     Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral Escolaridade_pai  \
47       12025             4004                 1       28,5                A
121      22061             4004                 1       39,9                A
128      22061             4004                 1       31,8                A
177      41238             4004                 1       53,8                A
202      43664             4004                 1       28,7                A
233      50888             4004                 1       28,8                A
304      73438             4004                 1       26,1                A
315      98305             4004                 1       38,2                A
352      98957             4004                 1         41                A
361      98957             4004                 1       35,1                A
457     106996             4004                 1       35,9                A
504    1148708             4004                 1       47,2                A
513    1187671             4004                 1       40,9                A
528    1187671             4004                 1       40,7                A
533    1187671             4004                 1       43,2                A
535    1187671             4004                 1       35,1                A
545    1187671             4004                 1       18,9                A
559    5000951             4004                 1         30                A
564    5000951             4004                 1       36,6                A

    Escolaridade_mae Renda Tipo_escola Horas_estudos
47                 A     D           A             B
121                C     B           A             C
128                F     B           E             B
177                B     A           A             C
202                E     A           A             D
233                B     B           A             C
304                C     B           A             B
315                E     C           A             C
352                D     B           A             B
361                C     E           A             B
457                B     B           A             B
504                D     C           A             E
513                A     A           A             D
528                B     A           A             B
533                B     D           A             E
535                A     A           A             C
545                B     E           A             B
559                C     A           A             C
564                E     D           A             C

In [ ]:
if pai_sem_escolaridade['Nota_geral'].dtype == 'O':  
    pai_sem_escolaridade['Nota_geral'] = pai_sem_escolaridade['Nota_geral'].str.replace(',', '.').astype(float)

media_notas = pai_sem_escolaridade['Nota_geral'].mean(skipna=True)


print(media_notas)

35.81052631578948

C:\Users\letic\AppData\Local\Temp\ipykernel_5572\2104697514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pai_sem_escolaridade['Nota_geral'] = pai_sem_escolaridade['Nota_geral'].str.replace(',', '.').astype(float)

In [ ]:
pai_ate_naosei = regiao_norte_cc[regiao_norte_cc['Escolaridade_pai'] == 'B']

print(pai_ate_naosei)

     Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral Escolaridade_pai  \
10       12025             4004                 1       59,6                B
11       12025             4004                 1       39,5                B
104      22061             4004                 1       28,7                B
135      22061             4004                 1       22,7                B
138      22061             4004                 1       13,7                B
..         ...              ...               ...        ...              ...
579    5000951             4004                 1       16,2                B
581    5000951             4004                 1       30,1                B
582    5000951             4004                 1       35,1                B
586    5000951             4004                 1       33,7                B
595    5000951             4004                 1       28,7                B

    Escolaridade_mae Renda Tipo_escola Horas_estudos
10                 C     B           A             C
11                 E     A           B             A
104                D     C           A             B
135                B     A           A             B
138                E     A           A             B
..               ...   ...         ...           ...
579                C     A           A             C
581                D     A           A             B
582                D     A           A             B
586                D     A           A             B
595                C     B           A             B

[69 rows x 9 columns]

In [ ]:
if pai_ate_naosei['Nota_geral'].dtype == 'O':  
    pai_ate_naosei['Nota_geral'] = pai_ate_naosei['Nota_geral'].str.replace(',', '.').astype(float)

media_notas_b = pai_ate_naosei['Nota_geral'].mean()


print(media_notas_b)

32.42898550724637

C:\Users\letic\AppData\Local\Temp\ipykernel_5572\2248042766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pai_ate_naosei['Nota_geral'] = pai_ate_naosei['Nota_geral'].str.replace(',', '.').astype(float)

In [ ]:
pai_ate_algumacoisa = regiao_norte_cc[regiao_norte_cc['Escolaridade_pai'] == 'C']

print(pai_ate_algumacoisa)

     Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral Escolaridade_pai  \
1        12025             4004                 1       48,6                C
3        12025             4004                 1       51,1                C
5        12025             4004                 1       39,3                C
8        12025             4004                 1       53,3                C
18       12025             4004                 1       29,2                C
37       12025             4004                 1       38,9                C
53       18250             4004                 1       41,2                C
69       18250             4004                 1       36,4                C
91       20009             4004                 1       25,9                C
92       20009             4004                 1       36,5                C
103      22061             4004                 1       28,2                C
149      22061             4004                 1       22,4                C
157      22061             4004                 1       38,1                C
174      41238             4004                 1       36,4                C
186      41238             4004                 1       55,6                C
190      41238             4004                 1         44                C
200      43664             4004                 1       27,4                C
220      50888             4004                 1       28,7                C
226      50888             4004                 1       27,7                C
250      62484             4004                 1         47                C
261      62484             4004                 1       59,1                C
273      62484             4004                 1       41,2                C
290      62484             4004                 1       68,5                C
291      62484             4004                 1       33,8                C
307      73438             4004                 1       34,2                C
316      98305             4004                 1       32,7                C
368      98957             4004                 1       27,5                C
373      98957             4004                 1       39,5                C
376      98957             4004                 1       31,1                C
378      98957             4004                 1       28,2                C
448     106996             4004                 1       42,1                C
476     318882             4004                 1         31                C
478     318882             4004                 1       43,9                C
479     318882             4004                 1         31                C
480     318882             4004                 1         54                C
485    1076129             4004                 1       22,6                C
497    1076129             4004                 1         33                C
505    1148708             4004                 1       35,4                C
507    1148708             4004                 1       52,4                C
510    1148708             4004                 1       47,5                C
524    1187671             4004                 1       32,4                C
525    1187671             4004                 1       29,3                C
541    1187671             4004                 1       42,1                C
547    1187671             4004                 1       47,7                C
554    5000951             4004                 1       25,5                C
569    5000951             4004                 1       40,6                C
572    5000951             4004                 1       35,3                C
577    5000951             4004                 1       33,2                C
583    5000951             4004                 1         26                C
588    5000951             4004                 1       34,6                C
591    5000951             4004                 1       35,7                C

    Escolaridade_mae Renda Tipo_escola Horas_estudos
1                  D     A           A             C
3                  D     B           B             B
5                  B     B           A             E
8                  F     B           A             D
18                 D     C           A             C
37                 C     D           A             C
53                 E     A           A             D
69                 C     C           A             C
91                 D     C           B             E
92                 D     C           A             C
103                B     B           D             C
149                D     A           A             B
157                D     B           B             C
174                C     B           A             D
186                C     C           A             C
190                C     C           A             E
200                F     A           A             B
220                E     B           A             A
226                D     A           A             A
250                D     A           B             E
261                D     C           A             E
273                D     A           A             C
290                C     B           B             C
291                E     E           E             C
307                D     C           A             B
316                E     B           A             C
368                E     B           A             B
373                D     A           A             B
376                D     B           A             B
378                C     C           A             C
448                D     A           A             C
476                C     A           A             C
478                E     E           A             B
479                D     B           A             B
480                B     D           A             C
485                C     A           A             C
497                B     A           A             B
505                D     C           B             E
507                D     A           B             C
510                E     D           A             B
524                C     A           A             D
525                C     C           A             C
541                E     A           A             B
547                D     B           A             E
554                C     D           D             B
569                C     A           A             C
572                E     A           A             A
577                D     A           A             B
583                D     B           A             E
588                C     A           A             C
591                C     B           A             C

In [ ]:
if pai_ate_algumacoisa['Nota_geral'].dtype == 'O':  
    pai_ate_algumacoisa['Nota_geral'] = pai_ate_algumacoisa['Nota_geral'].str.replace(',', '.').astype(float)

media_notas_c = pai_ate_algumacoisa['Nota_geral'].mean()


print(media_notas_c)

37.78431372549019

In [ ]:
pai_ate_outracoisa = regiao_norte_cc[regiao_norte_cc['Escolaridade_pai'] == 'D']

print(pai_ate_outracoisa)

     Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral Escolaridade_pai  \
12       12025             4004                 1       54,9                D
13       12025             4004                 1       65,9                D
15       12025             4004                 1       61,1                D
16       12025             4004                 1       46,1                D
19       12025             4004                 1       44,8                D
..         ...              ...               ...        ...              ...
587    5000951             4004                 1       19,6                D
589    5000951             4004                 1       27,4                D
592    5000951             4004                 1       33,3                D
594    5000951             4004                 1       26,6                D
596    5000951             4004                 1       32,5                D

    Escolaridade_mae Renda Tipo_escola Horas_estudos
12                 D     E           A             B
13                 D     B           A             E
15                 D     A           A             E
16                 D     D           A             B
19                 D     C           D             E
..               ...   ...         ...           ...
587                D     A           A             B
589                D     A           A             B
592                D     B           A             B
594                D     A           E             B
596                D     B           A             B

[163 rows x 9 columns]

In [ ]:
if pai_ate_outracoisa['Nota_geral'].dtype == 'O':  
    pai_ate_outracoisa['Nota_geral'] = pai_ate_outracoisa['Nota_geral'].str.replace(',', '.').astype(float)

media_notas_d = pai_ate_outracoisa['Nota_geral'].mean()


print(media_notas_d)

38.3079754601227

C:\Users\letic\AppData\Local\Temp\ipykernel_5572\1174625679.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pai_ate_outracoisa['Nota_geral'] = pai_ate_outracoisa['Nota_geral'].str.replace(',', '.').astype(float)

In [ ]:
pai_ate_qualquercoisa = regiao_norte_cc[regiao_norte_cc['Escolaridade_pai'] == 'E']

print(pai_ate_qualquercoisa)

     Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral Escolaridade_pai  \
2        12025             4004                 1       63,2                E
22       12025             4004                 1       45,6                E
27       12025             4004                 1       32,7                E
28       12025             4004                 1         43                E
30       12025             4004                 1       34,1                E
..         ...              ...               ...        ...              ...
543    1187671             4004                 1       51,9                E
546    1187671             4004                 1       35,9                E
551    5000951             4004                 1       41,3                E
557    5000951             4004                 1         26                E
585    5000951             4004                 1       44,2                E

    Escolaridade_mae Renda Tipo_escola Horas_estudos
2                  E     D           B             C
22                 F     D           B             C
27                 D     E           B             D
28                 D     E           B             B
30                 E     C           A             B
..               ...   ...         ...           ...
543                F     C           B             A
546                D     B           A             B
551                D     A           A             C
557                C     A           A             A
585                F     E           A             D

[82 rows x 9 columns]

In [ ]:
if pai_ate_qualquercoisa['Nota_geral'].dtype == 'O':  
    pai_ate_qualquercoisa['Nota_geral'] = pai_ate_qualquercoisa['Nota_geral'].str.replace(',', '.').astype(float)

media_notas_e = pai_ate_qualquercoisa['Nota_geral'].mean()


print(media_notas_e)

42.606097560975606

C:\Users\letic\AppData\Local\Temp\ipykernel_5572\3950487618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pai_ate_qualquercoisa['Nota_geral'] = pai_ate_qualquercoisa['Nota_geral'].str.replace(',', '.').astype(float)

In [ ]:
pai_ate_ultimacoisa = regiao_norte_cc[regiao_norte_cc['Escolaridade_pai'] == 'F']

print(pai_ate_ultimacoisa)

     Cod_curso  Cod_grupo_curso  Cod_regiao_curso Nota_geral Escolaridade_pai  \
14       12025             4004                 1       70,5                F
17       12025             4004                 1       42,6                F
49       18250             4004                 1       44,7                F
57       18250             4004                 1       40,6                F
65       18250             4004                 1       15,9                F
67       18250             4004                 1       35,5                F
107      22061             4004                 1       43,2                F
132      22061             4004                 1       29,2                F
153      22061             4004                 1       39,9                F
161      22061             4004                 1       30,2                F
197      43664             4004                 1       26,3                F
198      43664             4004                 1       28,2                F
224      50888             4004                 1       43,1                F
247      62484             4004                 1       64,7                F
249      62484             4004                 1       51,3                F
262      62484             4004                 1       53,4                F
263      62484             4004                 1       54,5                F
265      62484             4004                 1       47,1                F
267      62484             4004                 1         55                F
277      62484             4004                 1       57,8                F
284      62484             4004                 1       58,4                F
292      62484             4004                 1       44,9                F
299      73438             4004                 1       40,8                F
319      98305             4004                 1       60,7                F
337      98665             4004                 1       26,6                F
427     106996             4004                 1         64                F
447     106996             4004                 1       62,2                F
566    5000951             4004                 1       35,9                F
590    5000951             4004                 1       18,1                F

    Escolaridade_mae Renda Tipo_escola Horas_estudos
14                 F     G           B             C
17                 D     A           A             D
49                 F     F           B             B
57                 F     F           B             B
65                 F     E           B             B
67                 F     F           E             D
107                F     E           A             C
132                F     C           B             B
153                D     A           A             C
161                E     E           B             D
197                D     C           A             E
198                E     A           B             B
224                E     E           A             C
247                F     B           A             A
249                D     E           B             C
262                C     E           A             B
263                D     A           B             E
265                F     E           B             B
267                F     E           A             C
277                F     C           B             C
284                F     F           B             B
292                E     C           E             E
299                F     B           A             A
319                E     F           B             B
337                F     A           A             C
427                F     F           B             C
447                F     B           A             B
566                F     B           A             C
590                E     B           A             C

In [ ]:
if pai_ate_ultimacoisa['Nota_geral'].dtype == 'O':  
    pai_ate_ultimacoisa['Nota_geral'] = pai_ate_ultimacoisa['Nota_geral'].str.replace(',', '.').astype(float)

media_notas_f = pai_ate_qualquercoisa['Nota_geral'].mean()


print(media_notas_f)

42.606097560975606

C:\Users\letic\AppData\Local\Temp\ipykernel_5572\1857505835.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pai_ate_ultimacoisa['Nota_geral'] = pai_ate_ultimacoisa['Nota_geral'].str.replace(',', '.').astype(float)

In [ ]:
escolaridade_mae = regiao_norte_cc['Escolaridade_mae'].value_counts()

print(escolaridade_mae)

Escolaridade_mae
D    178
E     83
C     58
F     47
B     42
A      5
Name: count, dtype: int64

In [ ]:
renda = regiao_norte_cc['Renda'].value_counts()

print(renda)

Renda
A    115
B    108
C     76
E     48
D     42
F     18
G      6
Name: count, dtype: int64

In [ ]:
tipo_escola = regiao_norte_cc['Tipo_escola'].value_counts()

print(tipo_escola)

Tipo_escola
A    274
B    108
E     17
D     14
Name: count, dtype: int64

In [ ]:
horas_estudos = regiao_norte_cc['Horas_estudos'].value_counts()

print(horas_estudos)

Horas_estudos
B    163
C    128
E     50
D     49
A     23
Name: count, dtype: int64